{% extends "base.html" %}

{% block title %}404 Error - ToolShare{% endblock %}

{% block content %}
    {% include "navigation.html" %}

    <div class="container">
        <div class="col-lg-12">
            <!-- Jumbotron Header -->
            <header class="jumbotron hero-spacer">
                <h1>Uh Oh!</h1>
                <p>404 - Page Not Found</p>
                <p>We could not find this page on our servers.  Perhaps the link was wrong..?</p>

            </header>

        </div>
    </div>
{% endblock %}


